body {
    background-color: #095fe0;
    font-family: sans-serif;
}

#left-container {
    float: left;
    background-color: white;
    box-shadow: 5px 10px;
    margin: 25px 50px 25px 50px;
    padding: 30px 30px 30px 30px;
    width: 40%;
}

#right-container {
    float: right;
    background-color: white;
    box-shadow: 5px 10px;
    margin: 25px 50px 25px 50px;
    padding: 30px 30px 30px 30px;
    width: 40%;
}

.status {
    text-align: center;
    margin-top: 10px;
}

.good {
    color: #37c410;
}

.bad {
    color: #d67d18;
}

@media only screen and (max-width: 1650px) {
    #left-container {
        float: none;
        width: 90%;
    }
    
    #right-container {
        float: none;
        width: 90%;
    }
  }